<div class="nav-bar">
    <div class="logo">
        <i class="fa-solid fa-house"></i>
        <a href="http://localhost:8080/apnaghar/home">ApnaGhar.com</a>
    </div>
    <div class="options">
            <a href="http://localhost:8080/home/buy">Buy</a>
            <a href="http://localhost:8080/home/rent">Rent</a>
            <a href="http://localhost:8080/home/about">About</a>
            <a href="http://localhost:8080/home/contact">Contact</a>
            <a href="http://localhost:8080/home/adminlogin">Admin</a>
            <a href="http://localhost:8080/home/login">Log in</a>
            <a href="http://localhost:8080/home/signup">Sign up</a>
    </div>   
</div>

