<div class="searchbar">
    <form action="/home/search" method="get">
        <div class="search">
            <i class="search-icon fa-solid fa-magnifying-glass"></i>
            <input type="text" name="query" class="search-input" placeholder="Search properties...">
            <button type="submit" class="search-btn">Search</button>
        </div>
    </form>
</div>