<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="/CSS/adminlogin.css">
</head>
<body>
    <div class="login-container">
        <h2>Admin Login</h2>
        <form action="/home/adminlogin" method="post" id="adminlogin">
            <input type="text" name="username" placeholder="Username" id="username" required>
            <input type="password" name="password" placeholder="Password" id="password" required>
            <button type="submit">Login</button>
        </form>
    </div>
     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
     <script src="/JS/adminlogin.js"></script>
</body>
</html>