<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Property</title>
    <link rel="stylesheet" href="/CSS/deleteproperty.css">
</head>
<body>
    <div class="delete-form">
        <h2>Delete Property</h2>
        <form id="deleteForm" action="/home/deleteproperty" method="post">
            <input type="number" id="property_id" name="property_id" placeholder="Enter Property ID" required>
            <button type="submit">Delete Property</button>
        </form>
</body>
</html>