* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.login-container {
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #4facfe, #00f2fe); 
}

#loginform {
    background: #fff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

#loginform label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

#loginform input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

#loginform input:focus {
    outline: none;
    border-color: #4facfe;
    box-shadow: 0 0 5px rgba(79, 172, 254, 0.5);
}

a{
    color:blue;
    text-decoration:none;
}

#loginform button {
    width: 100%;
    background: #4facfe;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

#loginform button:hover {
    background: #00c6ff;
}

@media (max-width: 400px) {
    #loginform {
        width: 90%;
    }
}
